
<div class="jobs" >
<% jobs.forEach(job=>{%>
    <div class="card  text-white" style="width: 18rem;background-color:#181642 ;">
        
        <div class="card-body">
            <h5 class="card-title text-warning" style="font-weight: 100;">
                <%=job.companyname%>
            </h5>
            <p class="card-text">
             <span><%=job.jobcategory%></span> <span class="text-info"><%=job.jobdesignation%></span> 
            </p>
        </div>
        <ul class=" list-group-flush">
            <li class="list-group-item">
                <i class="fa-solid fa-location-dot"></i>
                <%=job.joblocation%>
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-indian-rupee-sign" style="color: white;"></i>
                <%=job.salary%>
            </li>
            <li class="list-group-item ">
               <%job.skillsrequired.forEach(s=>{%>
                <button class="skill">
                    <%=s%>

                </button>

                <%})%>
            </li>
        </ul>
        <div class="card-body">
            <a href="/jobs/<%=job.id%>" class="btn  btn-outline-success my-2 w-100">View details</a>
    
        </div>
    </div>

<%})%>
</div>
